.custom-audio-player{
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(14, 2, 21);
    /* background-color: red; */
    overflow: hidden;
}

.player-gradient{
    position: absolute;
    width: 1000px;
    height: 80%;
    background: var(--blue);
    filter: blur(105px);
    z-index: -1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}